/* root */

.light {
  --headerBg: red;
  --textColor:'url()';
  --btn: grey;
}

.dark {
  --headerBg: blue;
  --textColor:yellow;
  --btn:aqua;
}

header {
  width: 100%;
  height: 12vh;
  background-color: var(--headerBg);
}

h1{
    color: var(--textColor);
}

button{
  background-color: var(--btn);
}