* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: boxAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform: 100px;
  clip-path: polygon(0% 15%, 37% 48%, 0 0, 100% 1%, 69% 46%, 100% 15%, 100% 85%, 69% 46%, 100% 100%, 0 99%, 100% 50%);

}

@keyframes boxAnimation {
  0% {
    transform: translateX(200px);
  }
  50% {
    transform: translate(400px, 100px);
  }
  75% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(200px);
  }
}
